{% extends 'base.html' %}

{% block app_content %}

    <h3 align="center">Agendas de {{ dados['nomeUsuario'] }}</h3>
    <br>
    <table class="table table-hover" align="center" style="width: 50%;">
      <thead>
        <tr>
            <th scope="col">Agenda</th>
            <th scope="col">Descrição</th>
        </tr>
      </thead>
      <tbody>
        {% for a in dados['agendas'] %}
            <tr class='clickable-row'
                data-href="{{ url_for('detalhesAgendaUsuario', idAgenda=a['idAgenda']) }}"
                method=GET>
                <td>{{ a['nomeAgenda'] }}</td>
                <td>{{ a['descricao'] }}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>

    {% if dados.get('semAgendas') %}
        <br>
        <div align="center">
          <span style="color: red; font-size: 90%">*O usuário não possui agendas ativas<br></span>
        </div>
    {% endif %}



    <br><br>
    <div align="center">
        <button class="btn btn-secondary" type="button" onclick="window.location.href = '/agendas';">Voltar</button>
    </div>

{% endblock %}

{% block scripts %}
  {{ super() }}
    <script type='text/javascript'>
        $(".clickable-row").click(function() {
            window.location = $(this).data("href");
        });
    </script>
{% endblock %}

