{% extends 'base.html' %}

{% block app_content %}

<div class="container center_div" style="width: 75%;">
    <h3 align="center">Selecione o usuário que deseja visualizar</h3>

    <div align="center">
    {% for usuario in usuarios %}
        <div style="padding: 5px">
            <a href="/agendaUsuario?id={{ usuario.id }}" class="btn btn-primary" role="button"
               style="font-size : 20px; width: 20%; height: 40px;">{{ usuario.nome }}</a>
        </div>
    {% endfor %}
    </div>


</div>

{% endblock %}