{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<h2 align="center">Cadastrar Agenda</h2>
<br>

<div class="container center_div" style="width: 75%;">
    <form id="formAdicionar" action="{{ url_for('novaAgenda') }}" method="POST" novalidate>
      {{ formulario.hidden_tag() }}
      <label>{{ formulario.nome.label }}</label>
      <div class="form-group form-inline">
        {{ formulario.nome(size=45, class="form-control", style="width: 30%;") }}
        {% for erro in formulario.nome.errors %}
          <span style="color: red; font-size: 90%">*{{ erro }}<br></span>
        {% endfor %}
      </div>
      <label>{{ formulario.descricao.label }}</label>
      <div class="form-group">
        {{ formulario.descricao(size=150, class="form-control") }}
      </div>
      <div class="form-row">
        <div class="form-group col-md-3 col-lg-3 col-xl-3">
        <label>{{ formulario.dataInicio.label }}</label>
        {{ formulario.dataInicio(class="form-control", type="date") }}
        </div>
        <div class="form-group col-3 col-lg-3 col-xl-3">
        <label>{{ formulario.horarioInicio.label }}</label>
        {{ formulario.horarioInicio(class="form-control", type="time") }}
        </div>
        <div class="form-group col-3 col-lg-3 col-xl-3">
        <label>{{ formulario.horarioFim.label }}</label>
        {{ formulario.horarioFim(class="form-control", type="time") }}
        </div>
        <div class="form-group col-2 col-lg-2 col-xl-2">
        <label>{{ formulario.vagas.label }}</label>
        {{ formulario.vagas(class="form-control", type="number", min="0") }}
        </div>
        <div class="form-group col-md-1 col-lg-1 col-xl-1">
          <label>Adicionar</label>
<!--            <button type="submit" class=" form-control btn btn-warning"><b>+</b></button>-->
            {{ formulario.adicionaHorario(class="form-control btn btn-warning") }}
        </div>
      </div>


  <div>
    <table class="table table-hover" align="center" style="width: 50%;">
      <thead>
        <tr>
          <th scope="col">Data</th>
          <th scope="col">Inicio</th>
          <th scope="col">Fim</th>
          <th scope="col">Vagas</th>
          <th scope="col">Remover</th>
        </tr>
      </thead>
      <tbody>
        {% for h in formulario.horarios %}
            <tr>
              <td>{{ h.get('data') }}</td>
              <td>{{ h.get('inicio') }}</td>
              <td>{{ h.get('fim') }}</td>
              <td>{{ h.get('vagas') }}</td>
              <td>{{ formulario.removeHorario(class="btn btn-danger", id="btnRemove", idRemover=h.get('id')) }}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

    <div class="form-row text-center col-md-12 col-lg-12 col-xl-12" style="padding-top: 50px">
        <div class="form-check">
          {{ formulario.ativa(class="form-check-input", checked="true") }}
          <label>{{ formulario.ativa.label }}</label>
        </div>
      </div>

      <br>
      <div class="form-row text-center col-md-12 col-lg-12 col-xl-12" style="padding: 15px">
        {% if formulario.erroNovaAgenda %}
          <span style="color: red; font-size: 90%">*{{ formulario.erroNovaAgenda }}<br></span>
        {% endif %}
      </div>
      <br>

      <div class="form-row text-center col-md-12 col-lg-12 col-xl-12" style="padding: 15px">
        {{ formulario.adicionar(class="form-control btn btn-primary", style="width: 15%;") }}
        {{ formulario.cancelar(class="form-control btn btn-danger", style="width: 15%;") }}
      </div>

    </form>
</div>



</div>

{% endblock %}

{% block scripts %}
  {{ super() }}
    <script type='text/javascript'>
        $('form').submit(function(e) {
             if (document.getElementById("btnRemove") !== null) {
               var idRemover = document.getElementById("btnRemove").getAttribute("idRemover");
               var novaUrl = document.getElementById("formAdicionar").getAttribute("action");
               novaUrl = novaUrl + '?idRemover=' + idRemover;
               console.log(novaUrl);
               document.getElementById("formAdicionar").setAttribute("action", novaUrl);
             }
        });
    </script>
{% endblock %}